
@@include('html/head.html')
<body>
@@include('html/svg.html')




<div class="main-wrapper">
  @@include('html/header.html')

  <main class="sections ">
    <section class="offer">
      <div class="container">
        <div class="offer__content">
          <h1 class="title offer__title">
            Разработка чат-ботов для бизнеса
          </h1>

          <p class="offer__description">
            Настраивайте автоответы, запускайте рассылки и автоматизируйте рутинные бизнес-процессы с помощью бота.
          </p>

          <div class="offer__box-btn">
            <a href="#" class="offer__link link-btn">
              Подать заявку
            </a>
          </div>
        </div>
        <div class="offer__img">
          <img src="./img/4.png" alt="Rocket">
        </div>
      </div>
    </section>
    <section class="task">
      <div class="container">
        <h2 class="task__title">Чат-бот и их задачи</h2>
        <div class="task__content">

        </div>
        <div class="task__item"></div>
      </div>
    </section>
    <section></section>
    <section></section>
    <section></section>
    <section></section>
  </main>






  @@include('html/footer.html')
</div>




  <script type="module" src="./js/main.min.js"></script>
</body>


