.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

:root {
  --colorText: #0C7878;
  --activeColor: #0C7878;
  --bgGreen: #0C7878;
  --orange: #FFC000;
  --fz20: 20px;
  --sectionPadding: 80px;
  --colorTitle: #fff;


  --bodyBg: #E0EFFF;

  --fw300: 300;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;

}

body {
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  font-weight: var(--fw400);
  color: var(--colorText);
  background-color: var(--bodyBg);
  line-height: 1;
  font-family: 'Open Sans', sans-serif;

}

* {
  box-sizing: border-box;

}

.d-flex {
  display: flex;
  align-items: center;
}


picture {
  display: block;
}

.dn {
  display: none;
}

img {
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.svg-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  transition: color .02s ease-in-out;
}


button, input, select, textarea {
  outline: none;
  appearance: none;
  color: inherit;
}

.header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;

}

.footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


b {
  font-weight: 600;
}

.container {
  max-width: 1717px + 30px;
  margin: 0 auto;
  padding: 0 15px;
}


h1 {
color: #fff;


}

h2 {

}

.overlay-close {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, .6);
  transform: translateX(-100%);
  z-index: 30;
  opacity: 0;
  transition: opacity .8s ease;

  &.active {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;

  }
}

.link-btn{
  padding: 24px 61px;
  background: var(--orange);
  color: #fff;

}
