//Hover style
@media screen and (min-width: 1024px) {
  .nav-menu__link {
    transition: font-weight .2s ease-in-out;
    &:hover {
      font-weight: var(--fw700);
    }
  }
}

@media screen and (min-width: 1717px) {
  .offer__title {
    font-size: 72px;
  }
}


@media screen and (max-width: 1600px) {
  
}


