<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo">
        <a href="#">
          <img alt="Bots comp" src="./img/logo.png">
        </a>
      </div>
      @@include('./navigation.html')

      <a href="#" class="header__link-call-me">
        <span class="icon icon--call-me">
          <svg class="svg-icon">
            <use xlink:href="#telegram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
         </svg>
        </span>
        <strong>Связаться с нами</strong>
      </a>

      <div class="header__btn">
        <button>
          Перезвони мне
        </button>
      </div>
    </div>
  </div>

</header>
