<nav class="nav-menu">
  <ul class="nav-menu__menu">
    <li class="nav-menu__item">
      <a class="nav-menu__link" href="#">Задачи</a>
      </li>
    <li class="nav-menu__item">
      <a class="nav-menu__link" href="#">Етапы  разрабоки</a>
      </li>
    <li class="nav-menu__item">
      <a class="nav-menu__link" href="#">Оставить заявку</a>
      </li>
  </ul>
</nav>