.header {
  font-size: var(--fz20);
  padding: 24px 0 30px;
  font-weight: var(--fw600);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link-call-me{
    display: flex;
    align-items: center;


  }

  &__btn {
    padding: 24px 56px;
    border: 1px solid var(--activeColor);
  }
}

.icon--call-me{
  margin-right: 10px;
}