.offer {
  background: var(--bgGreen);
  padding-top: var(--sectionPadding);
  padding-bottom: var(--sectionPadding);
  color: #fff;

  .container {
    position: relative;
  }
  &__content {
    max-width: 740px;
  }

  &__title {

    @include adaptiv-font(72, 36);
    font-weight: var(--fw700);
    margin-bottom: 30px;
  }

  &__description {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 1.2;
    max-width: 480px;
    opacity: 0.6;
    margin-bottom: 30px;
  }

  &__img  {
    position: absolute;
    right: -7%;
    top: -100px;
    max-width: 1100px;
    img{
      width: 100%;
    }
  }
}